<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./assests/css/style.css">
</head>
<body>
  <div id="header"></div>
  <form id="signupForm" onsubmit="return validateForm()">
    <fieldset id="signup-fieldset">
        <legend>Register</legend>
        
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email">
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        
        <div class="buttons">
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
        </div>
    </fieldset>
</form>

  <div id="footer"></div>
  <script src="../public/assests/js/Script.js"></script>
</body>
</html>