<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <title>Page with Header, Quote, and Ad Section</title>

    <link rel="stylesheet" href="./assests/css/style.css">
</head>
<body>
    <!-- Header Section -->
     <div id="header">
    <!-- <header>
        <div class="logo"><img src="../public/assests/img/paging/Finman-Logo-1.png" alt="logo" width="100px" height="50px"></div>
        <nav>
            <a href="./login.html" class="button">Login</a>
            <a href="#" class="button">Sign Up</a>
            <a href="#" class="button">Profile</a>
            <a href="#" class="button">DashBoard</a>
        </nav>
    </header> -->
    </div>
<main>
    <!-- Advertisement Section -->
    <section class="advertisement">
        <div class="ad-container">
            <div class="ad ad1"><img src="./assests/img/paging/a3.webp" alt="" width="100%", height="400px" ></div>
            <div class="ad ad2"><img src="./assests/img/paging/a2.jpg" alt="" width="100%", height="400px" ></div>
            <div class="ad ad3"><img src="./assests/img/paging/a1.jpg" alt="" width="100%", height="400px" ></div>
            <div class="ad ad3"><img src="./assests/img/paging/a4.jpg" alt="" width="100%", height="400px" ></div>
            <!-- <div class="ad ad3"><img src="../public/assests/img/paging/a5.avif" alt="" width="100%", height="400px" ></div> -->
            <div class="ad ad3"><img src="./assests/img/paging/a6.png" alt="" width="100%", height="400px" ></div>
            <div class="ad ad3"><img src="./assests/img/paging/a7.jpg" alt="" width="100%", height="400px" ></div>
        </div>
    </section>

    <!-- Quote Section -->
    <section class="section-hero">
        <div class="hero">
          <div class="hero-text-box">
            <h1 class="heading-primary">
                Happy family needs,<br> best plan to survie
            </h1>
            <p class="hero-description">
                <p class="desc">Do not save what is left after spending,<br> instead spend what is left after saving :)</p>
            </p>
            <h4>Finance management is the process of planning, organizing, directing, and controlling 
              the financial activities of an organization or individual. 
              It involves managing financial resources to achieve specific goals, ensuring effective allocation, 
              and optimizing financial performance.</h4>
            <a href="/login" class="btn btn--full margin-right-sm"
              >Generate Plan</a
            >
            <a href="#how" class="btn btn--outline">Learn more &darr;</a>
            <div class="delivered-meals">
              <div class="delivered-imgs">
                <img src="./assests/img/customers/customer-1.jpg" alt="Customer photo" />
                <img src="./assests/img/customers/customer-2.jpg" alt="Customer photo" />
                <img src="./assests/img/customers/customer-3.jpg" alt="Customer photo" />
                <img src="./assests/img/customers/customer-4.jpg" alt="Customer photo" />
                <img src="./assests/img/customers/customer-5.jpg" alt="Customer photo" />
                <img src="./assests/img/customers/customer-6.jpg" alt="Customer photo" />
              </div>
              <p class="delivered-text">
                <span>250,000+ </span>users last year!
              </p>
            </div>
          </div>
          <div class="hero-img-box">
            <img
              src="./assests/img/paging/desktop.jpg"
              class="hero-img"
              alt="image"
            />
          </div>
        </div>
      </section>
      <section class="section-featured">
        <div class="container">
          <h2 class="heading-featured-in">As featured in</h2>
          <div class="logos">
            <img src="./assests/img/logos/techcrunch.png" alt="Techcrunch logo" />
            <img
              src="./assests/img/logos/business-insider.png"
              alt="Business Insider logo"
            />
            <img
              src="./assests/img/logos/the-new-york-times.png"
              alt="The New York Times logo"
            />
            <img src="./assests/img/logos/forbes.png" alt="Forbes logo" />
            <img src="./assests/img/logos/usa-today.png" alt="USA Today logo" />
          </div>
        </div>
      </section>

    <!-- Button Section -->
    <!-- <div class="generate-button">
        <button>Generate Plan</button>
    </div> -->
    <section id="how">
      <div class="how-container">
        <span class="subheading" style="font-weight: bold;">How it Works</span>
        <h2 class="heading-secondary">
          Your family finace Sustainability in 3 simple steps
        </h2>
      </div>
      <div class="section-how">
        <div class="step-1-des">
          <p class="step-number">01</p>
            <h3 class="heading-tertiary">
              Enter Income and Expenses
            </h3>
            <p class="step-description">
              Enter your monthly income and categorize your expenses (e.g., groceries, rent, utilities, entertainment).<br>
              Don't ever waste your time on Family Savings because The way we spend our time defines who we are!
            </p>
        </div>
        <div class="step-1-image">
          <img src="./assests/img/steps/s-1.png" alt="image step 1" >
        </div>
        
      </div>

      <div class="section-how">  
        <div class="step-1-des">
          <div class="step-1-image">
            <img src="./assests/img/steps/s-2.png" alt="image step 2" width="500px" height="500px">
          </div>
        </div>
        <div>
          <p class="step-number">02</p>
            <h3 class="heading-tertiary">
              Set Savings Goals
            </h3>
            <p class="step-description">
              Define your savings goals, whether for emergencies, vacations, or long-term investments and Education.
          </p>
        </div>
      </div>

      <div class="section-how">
        <div class="step-1-des">
          <p class="step-number">03</p>
            <h3 class="heading-tertiary">
              Review Budget Plan
            </h3>
            <p class="step-description">
              Based on the input, the website generates a customized budget plan with suggested spending limits and saving amounts.<br> You can review the breakdown and adjust as necessary.
            </p>
        </div>
        <div class="step-1-image">
          <img src="./assests/img/steps/s-3.png" alt="image step 3" width="500px" height="500px">
        </div>
        
      </div>
    </section>
  </section>
  <section class="section-testimonials" id="testimonials">
    <div class="testimonials-container">
        <span class="subheading" style="font-weight: bold;">Testimonials</span>
        <h2 class="heading-secondary">Once you try it, you can't go back</h2>

        <div class="testimonials">
            <figure class="testimonial">
                <img
                    class="testimonial-img"
                    alt="photo of customer Avinash Kr"
                    src="./assests/img/customers/customer-1.jpg" 
                />
                <blockquote class="testimonial-text">
                  Many thanks as always for your very clear and helpful advice. I entirely accept your logic and am very happy to follow your recommendation – it just shows the importance of having such a good independent financial planner to make sure I see the full picture.
                </blockquote>
                <p class="testimonial-name">&mdash; Kia, Co-Founder at Finance Company</p>
            </figure>
            <figure class="testimonial">
                <img
                    class="testimonial-img"
                    alt="photo of customer Bharat Kunal"
                    src="./assests/img/customers/customer-2.jpg"
                />
                <blockquote class="testimonial-text">
                  I have used the team at Chapters Financial for all of my financial affairs, both personal and business related for over 10 years. I have always found the team to be helpful and knowledgeable and, above all, user friendly and hassle-free. I have always found Chapters Financial advice to be reliable as well as cost-effective and am confident that I will continue to use their services for many years to come.
                </blockquote>
                <p class="testimonial-name">&mdash; Bharat Kunal, Manager at Infosys</p>
            </figure>
            <figure class="testimonial">
                <img
                    class="testimonial-img"
                    alt="photo of customer Prabhakar D"
                    src="./assests/img/customers/customer-3.jpg"
                />
                <blockquote class="testimonial-text">
                  I just found this budgeting app and I LOVE it! The forecasting piece is hands down my favourite. I have tried Mint, YNAB, Excel Spreadsheets – nothing forecasts like this. I highly recommend!
                </blockquote>
                <p class="testimonial-name">&mdash; Kanney, Manager at MNC</p>
            </figure>
        </div>
    </div>

</section>

</main>
<div id="footer">
<!-- <footer class="footer">
  <div class="container grid grid--footer">
    <div class="logo-col">
      <a href="#" class="footer-logo">
        <img class="logo" alt="logo" src="../public/assests/img/paging/Finman-Logo-1.png" />
        </a>
        <ul class="social-links">
          <li><a href="#" style="text-decoration: none"
            ><i class="bx bxl-facebook"></i
          ></a></li>
          <li><a href="#" style="text-decoration: none"
            ><i class="bx bxl-linkedin"></i
          ></a></li>
          <li><a href="#" style="text-decoration: none"
            ><i class="bx bxl-twitter"></i
          ></a></li>
          <li>
            <a href="#" style="text-decoration: none"
            ><i class="bx bxl-instagram"></i
          ></a>
          </li>
        </ul>
        <p class="copy-right">Copyright &copy;<span class="year">2027</span> 
           by Omnifood,Inc.All rights reserved.</p>
    </div>
    <div class="address-col">
      <p class="footer-heading">Contant us</p>
      <address class="contacts">
        <p class="address">623 Harrison St., 2nd Floor, San Francisco, CA 94107</p>
      <p>
        <a class="footer-link" href="tel:415-201-6370">415-201-6370</a><br/>
        <a class="footer-link" href="mailto:hello@website.com">info@website.com</a>
      </p>
      </address>
    </div>
    <nav class="nav-col">
    <p class="footer-heading">Account</p>
    <ul class="footer-nav">
      <li><a class="footer-link" href="#">Create account</a></li>
      <li><a class="footer-link" href="#">Sign in</a></li>
      <li><a class="footer-link" href="#">ioS app</a></li>
      <li><a class="footer-link" href="#">Android app</a></li>
    </ul>
    </nav>

    <nav class="nav-col">
      <p class="footer-heading">Company</p>
      <ul class="footer-nav">
        <li><a class="footer-link" href="#">Finman</a></li>
        <li><a class="footer-link" href="#">For Business</a></li>
        <li><a class="footer-link" href="#">Service</a></li>
        <li><a class="footer-link" href="#">Finacial Sustainability</a></li>
      </ul>
      </nav>
     
      <nav class="nav-col">
        <p class="footer-heading">Resources</p>
        <ul class="footer-nav">
          <li><a class="footer-link" href="#">Recipe directory</a></li>
          <li><a class="footer-link" href="#">Help center</a></li>
          <li><a class="footer-link" href="#">Privacy & terms</a></li>
        </ul>
        </nav>
        
  </div>
</footer> -->
</div>
    <script src="./assests/js/Script.js"></script>
</body>
</html>
